.container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.margin-space{
    margin: 10px;
}
.colour{
    text-align: center;
    display: flex;
}
.button{
    margin : 5px;
    margin-top: 10px;
}